.pitch-container.match-mode {
  position: relative;
  width: 480px;
  aspect-ratio: 2 / 3;
  background: #228b22;
  border: 3px solid white;
  border-radius: 8px;
  margin: 20px auto;
  padding-top: 12px;
  padding-bottom: 12px;
  box-sizing: border-box;
  /* overflow removed so bench dots can be visible outside the pitch */
}


/* halves */
.pitch-half {
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
}

.top-half { top: 0; }
.bottom-half { bottom: 0; }

/* center line & circle */
.center-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: translateY(-1px);
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Penalty Boxes */
.penalty-box {
  position: absolute;
  width: 70%;
  height: 14%;
  left: 15%;
  border: 2px solid white;
  pointer-events: none;
}

.top-box { top: 0; }
.bottom-box { bottom: 0; }

/* player styling */
.player-dot-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}

.player-dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: px solid #fff;
}

.player-info-card {
  position: absolute;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  
}


.team-half {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.team-half.reverse {
  flex-direction: column-reverse;
}


.pitch-wrapper {
  display: flex;
  justify-content: space-between; /* push left/right to edges */
  align-items: flex-start;
  width: 500px;   /* test width */
  margin: 20px auto;
}

.subs-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.sub-dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #bbb;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}



.left-subs {
  align-items: flex-end;
}

.right-subs {
  align-items: flex-start;
}



